.episode-desc{
     margin-top: 10px;
     margin-left: 20px;
     display: flex;
     justify-content: space-between;
}
.episode-desc p{
     color: var(--purple-grey);
     margin-bottom: 20px;
}
.episode{
     margin: 20px;
}